
ALTER TABLE "public"."tb_acesso" ADD CONSTRAINT "tb_acesso_pkey" PRIMARY KEY ("id")
;

ALTER TABLE "public"."tb_item_guia" ADD CONSTRAINT "tb_item_guia_pkey" PRIMARY KEY ("id")
;

ALTER TABLE "public"."tb_usuario" ADD CONSTRAINT "tb_usuario_pkey" PRIMARY KEY ("id")
;


ALTER TABLE "public"."tb_usuario_experiencia" ADD CONSTRAINT "tb_usuario_experiencia_pkey" PRIMARY KEY ("id")
;


ALTER TABLE "public"."tb_usuario_formacao" ADD CONSTRAINT "tb_usuario_formacao_pkey" PRIMARY KEY ("id")
;


ALTER TABLE "public"."tb_usuario_setor" ADD CONSTRAINT "tb_usuario_setor_pkey" PRIMARY KEY ("id")
;


ALTER TABLE "public"."tb_usuario_tipo" ADD CONSTRAINT "tb_usuario_tipo_pkey" PRIMARY KEY ("id")
;


ALTER TABLE "public"."tb_usuario_vinculo" ADD CONSTRAINT "tb_usuario_vinculo_pkey" PRIMARY KEY ("id")
;

ALTER TABLE "public"."tb_item_guia_tipo" ADD CONSTRAINT "Key1" PRIMARY KEY ("id")
;


-- Create foreign keys (relationships) section ------------------------------------------------- 

ALTER TABLE "public"."tb_guia" ADD CONSTRAINT "fk_guia_pai" FOREIGN KEY ("idpai") REFERENCES "public"."tb_guia" ("id") ON DELETE NO ACTION ON UPDATE NO ACTION
;

ALTER TABLE "public"."tb_item_guia" ADD CONSTRAINT "fk_guia" FOREIGN KEY ("idguia") REFERENCES "public"."tb_guia" ("id") ON DELETE NO ACTION ON UPDATE NO ACTION
;

ALTER TABLE "public"."tb_usuario" ADD CONSTRAINT "fk_usuario_formacao" FOREIGN KEY ("formacao") REFERENCES "public"."tb_usuario_formacao" ("id") ON DELETE NO ACTION ON UPDATE NO ACTION
;

ALTER TABLE "public"."tb_usuario" ADD CONSTRAINT "fk_usuario_vinculo" FOREIGN KEY ("vinculo") REFERENCES "public"."tb_usuario_vinculo" ("id") ON DELETE NO ACTION ON UPDATE NO ACTION
;

ALTER TABLE "public"."tb_usuario" ADD CONSTRAINT "fk_usuario_tipo" FOREIGN KEY ("tipo") REFERENCES "public"."tb_usuario_tipo" ("id") ON DELETE NO ACTION ON UPDATE NO ACTION
;

ALTER TABLE "public"."tb_usuario" ADD CONSTRAINT "fk_usuario_setor" FOREIGN KEY ("setor") REFERENCES "public"."tb_usuario_setor" ("id") ON DELETE NO ACTION ON UPDATE NO ACTION
;

ALTER TABLE "public"."tb_usuario" ADD CONSTRAINT "fk_usuario_experiencia" FOREIGN KEY ("experiencia") REFERENCES "public"."tb_usuario_experiencia" ("id") ON DELETE NO ACTION ON UPDATE NO ACTION
;

ALTER TABLE "public"."tb_acesso" ADD CONSTRAINT "fk_acesso_item_guia" FOREIGN KEY ("guia") REFERENCES "public"."tb_item_guia" ("id") ON DELETE NO ACTION ON UPDATE NO ACTION
;

ALTER TABLE "public"."tb_acesso" ADD CONSTRAINT "fk_acesso_usuario" FOREIGN KEY ("usuario") REFERENCES "public"."tb_usuario" ("id") ON DELETE NO ACTION ON UPDATE NO ACTION
;

ALTER TABLE "public"."tb_item_guia" ADD CONSTRAINT "fk_tipo" FOREIGN KEY ("tipo") REFERENCES "public"."tb_item_guia_tipo" ("id") ON DELETE NO ACTION ON UPDATE NO ACTION
;

